@using SkijanjeASPNET.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@model UcenikVM

<form asp-action="Snimi" enctype="multipart/form-data">
  <div class="form-group">
    <label for="ime">Ime</label>
    <input asp-for="UcenikDodaj.Ime" class="form-control" type="text">
  </div>
   <div class="form-group">
    <label for="prezime">Prezime</label>
    <input asp-for="UcenikDodaj.Prezime" class="form-control" type="text">
  </div>
    <div class="form-group">
    <label for="datRodj">Datum rođenja</label>
    <input asp-for="UcenikDodaj.DatRodj" class="form-control" type="date">
  </div>
    <div class="form-group">
    <label for="spol">Spol</label>
   <select asp-for="UcenikDodaj.Spol" class="form-control">
       @foreach(string i in Model.Spolovi)
            {
                <option value="@i">@i</option>
            }
        </select>
  </div>
  <div class="form-group">
    <label for="kontaktTel">Kontakt telefon</label>
  <input asp-for="UcenikDodaj.KontaktTel" class="form-control" type="tel"/>
  </div>
  

  <button type="submit" class="btn btn-primary">Spasi</button>
</form>